<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="aa">
	<select id="getaa" resultType="com.jh.dto.AADTO">
		select * from aa
	</select>

	<insert id="insertaa" parameterType="com.jh.dto.AADTO">
		insert into aa(bb) values
		(#{bb})
	</insert>

	<update id="updateaa" parameterType="com.jh.dto.AADTO">
		update aa set bb=#{bb}
		where
		aa=#{aa}
	</update>

	<delete id="deleteallaa">
		delete from aa;
	</delete>
</mapper>